h1{
    text-align: center;
}
@media screen and (min-width: 800px) {

nav{
    text-align: center;
    position: sticky;
    top: 100px;
}
}
h1{
    position: sticky;
    top: 0px;
}

fixed{
    position: fixed;
}

.flexlist{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media screen and (min-width: 800px) {
.flexlist>li{
    padding-bottom: 40px;
    padding-top: 40px;
}
}
@media screen and (min-width: 1000px) {
.w3-container{
    padding-left: 350px;
    padding-right: 350px;
    }
}
.tematy{
    width: 100%;
    border: 5px solid #1f0526;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}
.tematy > a{
    text-decoration: none;
}